:javascript
  var json = '#{@organic}';
  var myData = JSON.parse(json);
  var tr = $('<tr/>');

  $(document).ready(function() {
    var $grouplist = $('table');
    for (var i = 0; i < myData.length; i++) {
        $('#competition').append(myData[i].competition + "</br>");
        $('#cpc').append(myData[i].cpc + "</br>");
        $('#keyword').append(myData[i].keyword + "</br>");
        $('#number').append(myData[i].number_of_results + "</br>");
        $('#position').append(myData[i].position + "</br>");
        $('#position_diff').append(myData[i].position_difference + "</br>");
        $('#position_prev').append(myData[i].previous_position + "</br>");
        $('#search').append(myData[i].search_volume + "</br>");
        $('#traffic_cost').append(myData[i].traffic_cost_percent + "</br>");
        $('#traffic_percent').append(myData[i].traffic_percent + "</br>");
        $('#trends').append(myData[i].trends + "</br>");
        $('#url').append(myData[i].url + "</br>");
        //tr.append("<td>" + myData[i].keyword + "</td>");
        //tr.append("<td>" + myData[i].competition + "</td>");

    }
  });


= form_tag semrush_check_apimoz_index_path do
  = label_tag "Input your domain"
  = text_field_tag :link, nil
  = submit_tag "Seo Report"

= if @organic.present?
  %hr
  %h3
    Semrush (busic)

  %h2
    Result for "#{@url}"
  %table
    %tr
      %th Competition
      %th Cpc
      %th Keyword
      %th Number of results
      %th Position
      %th Position Diff
      %th Position previous
      %th Search Volume
      %th Traffic for percent
      %th Traffic percent
      %th Trends
      %th Url

    %tr
      %td
        #competition
      %td
        #cpc
      %td
        #keyword
      %td
        #number
      %td
        #position
      %th
        #position_diff
      %th
        #position_prev
      %td
        #search
      %td
        #traffic_cost
      %td
        #traffic_percent
      %td
        #trends
      %td
        #url



