:javascript
  var json = '#{@organic}';
  var myData = JSON.parse(json);
  var tr = $('<tr/>');

  $(document).ready(function() {
    var $grouplist = $('table');
    for (var i = 0; i < myData.length; i++) {
        $('#competition').append(myData[i].competition + "</br>");
        $('#cpc').append(myData[i].cpc + "</br>");
        $('#keyword').append(myData[i].keyword + "</br>");
        $('#number').append(myData[i].number_of_results + "</br>");
        $('#position').append(myData[i].position + "</br>");
        $('#position_diff').append(myData[i].position_difference + "</br>");
        $('#position_prev').append(myData[i].previous_position + "</br>");
        $('#search').append(myData[i].search_volume + "</br>");
        $('#traffic_cost').append(myData[i].traffic_cost_percent + "</br>");
        $('#traffic_percent').append(myData[i].traffic_percent + "</br>");
        $('#trends').append(myData[i].trends + "</br>");
        $('#url').append(myData[i].url + "</br>");
        //tr.append("<td>" + myData[i].keyword + "</td>");
        //tr.append("<td>" + myData[i].competition + "</td>");

    }
  });


= form_tag semrush_check_apimoz_index_path do
  = label_tag "Input your domain"
  = text_field_tag :link, nil
  = submit_tag "Seo Report"

- if @organic.present?
  %hr
  %h3
    Semrush
    %br
    = link_to "Clear", apimoz_index_path
  %h2
    Result for "#{@url}"
  %table
    %tr
      %th Competition
      %th Cpc
      %th Keyword
      %th Number of results
      %th Position
      %th Position Diff
      %th Position previous
      %th Search Volume
      %th Traffic for percent
      %th Traffic percent
      %th Trends
      %th Url

    %tr
      %td
        #competition
      %td
        #cpc
      %td
        #keyword
      %td
        #number
      %td
        #position
      %th
        #position_diff
      %th
        #position_prev
      %td
        #search
      %td
        #traffic_cost
      %td
        #traffic_percent
      %td
        #trends
      %td
        #url

  %ul
    %li Competition - competition of advertisers for that term (the higher the number - the greater the competition)
    %li Cpc - average price of a click on an Ad for this search query (in U.S. dollars)
    %li Keyword -  the search query the site has within the first 20 search results
    %li Number of results -  the number of search results - how many results does the search engine return for this query
    %li Position - the position of this URL for this keyword in organic or Ads results
    %li Position Diff - the difference between keyword position in previous month and keyword position in current month
    %li Position previous - the site's position for the search query (at the time of prior data collection)
    %li Search Volume -  the approximate 12-month average of the number of queries for the keyword (for the corresponding local version of search engine)
    %li Traffic for percent - the ratio of the estimated cost of buying the same number of visitors for this search query to the estimated cost of purchasing the same number of targeted visitors coming to this URL
    %li Traffic percent - the ratio of the number of visitors coming to the URL from this keyword to all visitors coming
    %li Url - Url of the target page